<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thankyou</title>

    <link rel="stylesheet" th:href="@{/css/thenku.css}">

</head>
<body>
<main>
    <div class="box">
        <div class="inner-box">
                            <div class="home-text">
                                <h1><Span>Thankyou </Span> For<br> Ordering<span> with us</span></h1>
                                <p>Have a great time falling in love with the books ;)</p>
                               <button>
                                   <a th:href="@{~/user/homepage}" class="goback">Go Back</a>
                                   Go Back
                               </button>
                            </div>
                    </div>
            <div class="image">
                <img src="https://i.postimg.cc/vBjNh39Q/image2.png" alt="bookstore" />
            </div>

        </div>
    </div>
</main>

</body>
</html>